* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #bb5807;
}
.div1, .div2, .div3, .div4 {
    width: 20px;
    height: 20px;
}
.div1 {
    border-right: 1px solid #181717;
    border-bottom: 1px solid #181717;
}
.div2 {
    border-left: 1px solid #181717;
    border-bottom: 1px solid #181717;
}
.div3 {
    border-right: 1px solid #181717;
    border-top: 1px solid #181717;
}
.div4 {
    border-left: 1px solid #181717;
    border-top: 1px solid #181717;
}
.cicle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    margin-left: -13px;
    box-shadow: 0px 0px 2px 2px #5f5d5d;
    border-radius: 50%;
    z-index: 9;
}